<!DOCTYPE html>
<html>
    <head>
        <title>Статья</title>
    </head>

    <body class="article">
    <link rel="stylesheet" href="{{ STATIC_URL }}/static/css/article.css">
        <div class="header">
            <img src="{{ STATIC_URL }} /static/images/logo.png" />
            <a href="/" class = 'posts_link'>Все статьи</a>
        </div>
            <div class="article">
                {% if user.is_authenticated %}
                <a href="{% url 'logout' %}" class="logout">Выход из аккаунта</a>
                <a href="{% url 'create_post' %}" class="create_article">Создать статью</a>
                {% else %}
                <a href="{% url 'login' %}" class="login">Авторизация</a>
                <a href="{% url 'register' %}" class="register">Регистрация</a>
                {% endif %}
                <div class="article-info">
                <div class="article-title">{{ post.title }}</div>
                <div class="article-author">{{ post.author.username }}</div>
                <div class="article-created-date">{{ post.created_date }}</div>
                </div>
                <p class="article-text">{{ post.text }}</p>
            </div>
        </div>
    </body>
</html>
